<div id="image">
    <img src="/images/beer.png" alt="Beer Image">
    <div>
        <a href="/beers" class="button-link">
            <div class="button">Check the Beers! text</div>
        </a>
        <a href="/random-beer" class="button-link">
            <div class="button">Check a Random Beer</div>
        </a>
    </div>
</div>
